<main class="px-20 pt-12 pb-24">
  <article class="relative aspect-[3/1] mb-20 grid grid-cols-3 rounded-2xl shadow bg-orange-200 overflow-hidden">
    <div class="p-8">
      <h2 class="text-2xl font-bold mb-4">Exploit your creativity</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad vitae blanditiis quia, similique, modi odit.</p>
      <div class="mt-8 w-max mx-auto">
        <a routerLink="/pen-tablets" class="inline-block px-4 py-2 bg-orange-400 text-white rounded-md hover:bg-orange-500">
          VIEW PEN TABLETS
        </a>
      </div>
    </div>

    <img src="https://files.catbox.moe/20bypq.avif" alt="See our Pen Tablets" class="col-span-2 object-cover">
  </article>

  <article class="relative aspect-[3/1] mb-20 grid grid-cols-3 rounded-2xl shadow bg-orange-200 overflow-hidden">
    <img src="https://files.catbox.moe/8css2r.avif" alt="See our Pen Displays" class="col-span-2 object-cover">
    
    <div class="p-8">
      <h2 class="text-2xl font-bold mb-4">Work with our best hardware</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad vitae blanditiis quia, similique, modi odit.</p>
      <div class="mt-8 w-max mx-auto">
        <a routerLink="/pen-displays" class="inline-block px-4 py-2 bg-orange-400 text-white rounded-md hover:bg-orange-500">
          VIEW PEN DISPLAYS
        </a>
      </div>
    </div>
  </article>

  <section class="text-center mx-auto">
    <h2 class="text-2xl font-bold mb-4">Our best selling products </h2>

    <ul class="grid grid-cols-3 gap-4">
      <li *ngFor="let p of products" class="group h-64 rounded-sm hover:bg-orange-100 hover:outline hover:outline-orange-100">
        <a routerLink="/product/{{p.id}}">
          <img src="{{p.main_image}}" alt="{{p.name}}" class="object-contain h-40 px-2 w-full bg-white">
        </a>
        <div class="h-24 text-center">
          <h2>
            <a routerLink="/product/{{p.id}}">
              {{p.name}}
            </a>
          </h2>
          <p class="mb-2 group-hover:text-stone-500 text-orange-400">{{p.price | currency}}</p>
          
          <app-add-to-cart [product_id]="p.id || 0"></app-add-to-cart>
        </div>
      </li>
    </ul>
  </section>
</main>