<main class="p-10 pb-20">
  <section class="relative aspect-[3/1] mb-24 grid grid-cols-3 rounded-2xl shadow bg-orange-200 overflow-hidden">
    <div class="p-8">
      <h2 class="text-2xl font-bold mb-4">Exploit your creativity</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad vitae blanditiis quia, similique, modi odit.</p>
      <div class="mt-8 w-max mx-auto">
        <a routerLink="/pen-tablets" class="inline-block px-4 py-2 bg-orange-400 text-white rounded-md hover:bg-orange-500">
          VIEW PEN TABLETS
        </a>
      </div>
    </div>

    <img src="https://files.catbox.moe/20bypq.avif" alt="See our Pen Tablets" class="col-span-2 object-cover">
  </section>

  <section class="relative aspect-[3/1] mb-24 grid grid-cols-3 rounded-2xl shadow bg-orange-200 overflow-hidden">
    <img src="https://files.catbox.moe/8css2r.avif" alt="See our Pen Displays" class="col-span-2 object-cover">
    
    <div class="p-8">
      <h2 class="text-2xl font-bold mb-4">Work with our best hardware</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad vitae blanditiis quia, similique, modi odit.</p>
      <div class="mt-8 w-max mx-auto">
        <a routerLink="/pen-displays" class="inline-block px-4 py-2 bg-orange-400 text-white rounded-md hover:bg-orange-500">
          VIEW PEN DISPLAYS
        </a>
      </div>
    </div>
  </section>
</main>