<main class="px-4 sm:px-10 lg:px-20 pb-20">
  <div class="my-4 flex flex-col xs:flex-row justify-between">
    <div>
      <span class="text-sm">
        <a routerLink="/home">Home</a> / Search / "{{query}}"
      </span>
    </div>

    <form (ngSubmit)="submitSort();" [formGroup]="sort" method="post">
      <select id="sort" (change)="submitSort();" formControlName="by" class="bg-white">
        <option value="">Sort by</option>
        <option *ngFor="let s of sortby" [ngValue]="s">
          {{s}}
        </option>
      </select>
    </form>
  </div>

  
  <div *ngIf="productList.length == 0" class="text-center">
    <i class="fa-regular fa-circle-xmark fa-2x"></i><br>
    <div>No products were found for your search</div>
  </div>

  <ul class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
    <li *ngFor="let p of productList" class="group h-64 rounded-sm hover:bg-orange-100 hover:outline hover:outline-orange-100">
      <a routerLink="/product/{{p.id}}">
        <img src="{{p.main_image}}" alt="{{p.name}}" class="object-contain h-40 px-2 w-full bg-white">
      </a>
      <div class="h-24 text-center">
        <h2>
          <a routerLink="/product/{{p.id}}">
            {{p.name}}
          </a>
        </h2>
        <p class="mb-2 group-hover:text-stone-500 text-orange-400">{{p.price | currency}}</p>

        <app-add-to-cart [product_id]="p.id || 0"></app-add-to-cart>
      </div>
    </li>
  </ul>
</main>