<main class="px-4 sm:px-10 lg:px-20 pb-20">
  <div class="my-4">
    <span class="text-sm">
      <a routerLink="/home">Home</a> / <a routerLink="{{path.url}}">{{path.name}}</a> / {{product.name}} 
    </span>
  </div>

  <section class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-1 sm:gap-8">
    <div>
      <div class="sm:hidden">
        <h2 class="text-5xl font-bold mt-8 mb-2">{{product.name}}</h2>
        <div class="my-2 flex items-center">
          <div class="mr-2">{{product.category.toUpperCase()}}</div> 
          <div class="h-[2px] grow my-4 bg-black"></div>
        </div>
        <div class="flex flex-row justify-between">
          <span class="text-xl">{{product.price | currency}}</span>
          <span>Stock: {{product.inventory}}</span>
        </div>
      </div>

      <img src="{{imageInView}}" alt="{{product.name}}" class="w-full aspect-square object-contain">
      <ul class=" flex flex-row gap-4">
        <li *ngFor="let i of images; index as pos">
          <button type="button" (click)="newImageInView(pos)" [ngClass]="i.url == imageInView ? 'outline outline-orange-200 rounded-sm' : ''">
            <img src="{{i.url}}" alt="{{product.name}}" class="w-24 h-24 p-2 object-contain outline outline-1 outline-gray-300 rounded-sm">
          </button>
        </li>
      </ul>
    </div>

    <div>
      <div class="hidden sm:block">
        <h2 class="text-5xl font-bold mt-8 mb-2">{{product.name}}</h2>
        <div class="my-2 flex items-center">
          <div class="mr-2">{{product.category.toUpperCase()}}</div> 
          <div class="h-[2px] grow my-4 bg-black"></div>
        </div>
        <div class="flex flex-row justify-between">
          <span class="text-xl">{{product.price | currency}}</span>
          <span>Stock: {{product.inventory}}</span>
        </div>
      </div>

      <p class="my-4 text-neutral-600">{{product.description}}</p>

      <div class="flex flex-row-reverse justify-between">
        <app-add-to-cart [product_id]="product.id || 0"></app-add-to-cart>
      </div>
    </div>
  </section>
</main>