<main class="px-4 sm:px-10 lg:px-20 pt-10 pb-20">
  <article class="max-w-2xl p-2 sm:p-4 mx-auto rounded-lg outline outline-1 outline-neutral-200 shadow-md">
    <h2 class="text-xl mb-2">My Cart</h2>

    <div *ngIf="cart.id == null" class="text-center my-4">
      <i class="fa-regular fa-circle-xmark fa-2x"></i><br>
      <div>There are no products in your cart yet!</div>
    </div>
    
    <div *ngIf="cart.id != null">
      <ul>
        <li *ngFor="let ci of cart.cart_items" class="mb-2 py-2 px-2 sm:px-6 rounded-md border border-neutral-200">
  
          <div class="sm:hidden w-full flex items-center justify-between">
            <h4>
              <a routerLink="/product/{{ci.product_id}}">
                {{ci.product_name}}
              </a>
            </h4>
            <button type="button" (click)="deleteCartItem(ci.cart_item_id);" class="sm:hidden p-2 hover:text-red-500">
              <i class="fa-solid fa-trash fa-xl"></i>
            </button>
          </div>

          <div class="flex flex-row items-center justify-between gap-4">
            <button type="button" (click)="deleteCartItem(ci.cart_item_id);" class="hidden sm:block p-2 hover:text-red-500">
              <i class="fa-solid fa-trash fa-xl"></i>
            </button>
    
            <img src="{{ci.main_image}}" alt="{{ci.product_name}}" class="h-12 w-12 xs:h-24 xs:w-24 object-contain">
            
            <div class="grow flex flex-row items-center justify-between">
              <div class="hidden sm:block">
                <h4>
                  <a routerLink="/product/{{ci.product_id}}">
                    {{ci.product_name}}
                  </a>
                </h4>
              </div>
    
              <div class="flex flex-row items-center">
                <div class="text-sm text-neutral-500">
                  Price: <span class="text-black text-base">{{ci.product_price | currency}}</span>
                </div>
    
                <div class="border border-gray-300 h-8 mx-4"></div>
    
                <div class="text-sm text-neutral-500">
                  x
                  <select class="p-1 pl-2 bg-white text-black text-base outline outline-1 outline-neutral-400 rounded-lg">
                    <option (click)="changeQuantity(ci.cart_item_id, 1);" [defaultSelected]="ci.quantity == 1">1</option>
                    <option (click)="changeQuantity(ci.cart_item_id, 2);" [defaultSelected]="ci.quantity == 2">2</option>
                    <option (click)="changeQuantity(ci.cart_item_id, 3);" [defaultSelected]="ci.quantity == 3">3</option>
                    <option (click)="changeQuantity(ci.cart_item_id, 4);" [defaultSelected]="ci.quantity == 4">4</option>
                    <option (click)="changeQuantity(ci.cart_item_id, 5);" [defaultSelected]="ci.quantity == 5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
  
      <div class="mb-4 text-xl flex items-center gap-4">
        <span>TOTAL</span>
        <div class="h-[2px] grow my-4 bg-neutral-300"></div>
        <span class="text-orange-400">{{totalPrice | currency}}</span>
      </div>
  
      <div class="flex flex-row-reverse">
        <a routerLink="/buy" class="px-4 py-2 rounded-lg bg-orange-300 text-white font-bold hover:bg-orange-400">
          BUY CART
        </a>
      </div>
    </div>
  </article>
</main>