
<main class="w-96 mx-auto mt-2 mb-10 p-5 rounded-md outline outline-1 outline-neutral-300 shadow-md">
  <h3>Login to Account</h3>

  <form (ngSubmit)="submitForm();" [formGroup]="loginUser" method="post" class="mt-2">
    <input type="text" formControlName="email" class="my-1 px-3 py-1 w-full border-b border-neutral-300" placeholder="Email">
    <input type="password" formControlName="password" class="my-1 px-3 py-1 w-full border-b border-neutral-300" placeholder="Password">
    
    <div class="mt-4">
      <button type="submit" class="bg-orange-100 px-4 py-2 rounded-md mr-2">Login</button>
      <span *ngIf="errorMessage != ''" class="text-red-400">{{errorMessage}}</span>
    </div>
  </form>
</main>
