<main class="p-10 pb-20">
  <div>
    <a routerLink="/profile" class="absolute px-4 py-2 rounded-lg outline outline-1 outline-neutral-200 shadow">
      <i class="fa-solid fa-angle-left mr-2"></i>
      Volver a Perfil
    </a>
  </div>
  
  <article class="max-w-2xl p-4 mx-auto rounded-lg outline outline-1 outline-neutral-200 shadow-md">
    <div class="">
      <h2 class="text-2xl mb-4">Purchase Order nº {{order.id}}</h2>
      <div class="flex flex-row items-center justify-between">
        <p class="text-sm text-neutral-500">
          Date: <span class="text-black text-base">{{order.created_at | date:"fullDate"}}</span> <br>
          Hour: <span class="text-black text-base">{{order.created_at | date:"longTime"}}</span>
        </p>
        <span class="text-xl">
          {{order.shipped == 0 ? "Not delivered yet" : "Delivered"}}
        </span>
      </div>
    </div>

    <hr class="my-4">

    <div>
      <h3 class="text-lg mb-1">Shipping Address</h3>
      <div class="grid grid-cols-2 gap-4">
        <p class="text-sm text-neutral-500">
          Address line: <span class="text-black text-base">{{order.shipping_address.address_line}}</span> <br>
          City: <span class="text-black text-base">{{order.shipping_address.city}}</span> <br>
          Province: <span class="text-black text-base">{{order.shipping_address.province}}</span> <br>
          Country: <span class="text-black text-base">{{order.shipping_address.country}}</span> <br>
        </p>
        <p class="text-sm text-neutral-500">
          Postal_code: <span class="text-black text-base">{{order.shipping_address.postal_code}}</span> <br>
          Mobile: <span class="text-black text-base">{{order.shipping_address.mobile}}</span>
        </p>
      </div>
    </div>

    <hr class="my-4">

    <div class="flex flex-col gap-2">
      <h3 class="text-lg mb-1">Products</h3>
      
      <ul>
        <li *ngFor="let p of order.items" class="mb-2 p-2 flex flex-row items-center gap-4 rounded-md border border-neutral-200">
          <img src="{{p.product_img}}" alt="{{p.product_name}}" class="h-24 w-24 object-contain">
          <div class="">
            <h4 class="mb-1">{{p.product_name}}</h4>
            <p class="text-sm text-neutral-500">
              price per unit: <span class="text-black text-base">{{p.price_per_unit | currency}}</span> <br>
              quantity: <span class="text-black text-base">{{p.quantity}}</span>
            </p>
          </div>
        </li>
      </ul>

      <div class="text-xl flex items-center gap-4">
        <span>TOTAL</span>
        <div class="h-[2px] grow my-4 bg-neutral-300"></div>
        <span class="text-orange-400">{{order.total | currency}}</span>
      </div>
    </div>

    <div class="text-xs mt-4">
      If you have a problem, <a routerLink="/contact" class="text-orange-400">please contact us</a>
    </div>
  </article>
</main>