<section>
  <div class="mb-4 flex flex-row justify-between text-sm">
    <div>
      <a routerLink="/admin/users" class="inline-block px-4 py-2 rounded-lg outline outline-1 outline-neutral-200 shadow hover:bg-neutral-50">
        <i class="fa-solid fa-angle-left mr-1"></i> Back
      </a>
    </div>
    
    <div>
      <div class="inline-block">
        <button *ngIf="user.admin == 0" (click)="giveAdmin();" type="button" class="px-4 py-2 rounded-lg outline outline-1 outline-neutral-200 shadow hover:bg-neutral-50">
          <i class="fa-regular fa-circle-check mr-1"></i> give admin role
        </button>
        <button *ngIf="user.admin != 0" (click)="removeAdmin();" type="button" class="px-4 py-2 rounded-lg shadow bg-green-300">
          <i class="fa-solid fa-circle-check mr-1"></i> remove admin role
        </button>
      </div>
    </div>
  </div>

  <article class="p-4 rounded-lg outline outline-1 outline-neutral-200 shadow-md">
    <div class="text-sm text-neutral-400">
      <h3 class="text-lg text-black mb-1">User ID {{user.id}}</h3>
      <div class="flex flex-col xs:flex-row xs:items-center xs:justify-between">
        <p>
          Name: <span class="text-black text-base">{{user.first_name}} {{user.last_name}}</span> <br>
          Email: <span class="text-black text-base">{{user.email}}</span>
        </p>
        <div class="text-green-500 text-xl mt-2 xs:mt-0">
          {{user.admin == 0 ? '': 'ADMIN'}}
        </div>
      </div>
      <hr class="my-2">
      <p>
        Date: <span class="text-black text-base">{{user.created_at | date:"fullDate"}}</span> <br>
        Hour: <span class="text-black text-base">{{user.created_at | date:"longTime"}}</span>
      </p>
    </div>
  </article>
</section>