<footer class="w-full absolute bottom-0 max-w-6xl px-4 sm:px-10 pt-4 pb-8 border-t-2 border-gray-300 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 text-sm">
  <div>
    <a routerLink="/home" class="text-lg font-bold">
      Drawing Tablets
    </a>
  </div>

  <ul class="flex flex-col gap-2">
    <li>
      <a routerLink="/home">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/pen-tablets">
        Pen Tablets
      </a>
    </li>
    <li>
      <a routerLink="/pen-displays">
        Pen Displays
      </a>
    </li>
    <li>
      <a routerLink="/accessories">
        Accessories
      </a>
    </li>
    <li>
      <a routerLink="/contact">
        Contact
      </a>
    </li>
  </ul>

  <div class="">
    <p>
      This site is a web development practice only and none of the products are for sale.
    </p>
    <p class="font-bold mt-4">
      Made by Mercado Hector
      <br>
      <span class="font-normal">
        mercadohectordw@gmail.com
      </span>
    </p>
  </div>

  <ul class="flex flex-col gap-2">
    <li>
      <a href="https://github.com/mercadohectordw/drawing-tablet-ecommerce" target="_blank">
        Github
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mercadohectordw/" target="_blank">
        Linkedin
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        Web Portfolio
      </a>
    </li>
  </ul>
</footer>